html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url("https://images.pexels.com/photos/390089/film-movie-motion-picture-390089.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    margin:0
}
body:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(50, 50, 0, 0.5);
    z-index: -1;
}
/*.overlay{*/
    /*background: rgba(0,0,256,0.5);*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: 0px;*/
    /*position: fixed;*/
    /*left: 0px;*/
    /*display:block;*/
    /*margin: 0 auto;*/
/*}*/

/*margin: 0 auto;*/

/*Will only center your image horizontally. What would I do is:*/

/*// Lets say your loading.gif is 100px by 100px*/
                                            /*.white-screen {*/
                                                /*position: relative;*/
                                            /*}*/

/*.loading-gif {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin: -50px 0px 0px -50px;*/
/*}*/

/*This will center it horizontally and vertically. Margin should be twice less that your image size,
so if your image is 100x50px, margin should be -50px 0px 0px -25px.*/

.container {
    /*min-height: 100vh;*/
    width: 85%;
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background: #dddddd;
}

#movie-list-header {
    margin-bottom: 50px;
    font-family: "Big John";
    font-size: 3em;
    text-align: center;
    color: white;
}

#movie-list {
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
    font-size: 15px;
    text-align: center;
}

#loader {
    width: 8%;
    z-index: 9999;
}

table {
    table-layout: fixed;
    font-family: "PT Serif", sans-serif;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    text-align: center;
}

thead {
    background-color: gold;
}

td, th {
    font-family: Big John;
    width: 85%;
    border: 1px solid #dddddd;
    padding: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hidden {
    display: none;
}

.editBtn {
    font-size: 1.5em;
    padding-right: 0.5em;
    cursor: pointer;
}

.cancelBtn {
    cursor: pointer;
    font-size: 1.5em;
    padding-right: 0.5em;
}

.deleteBtn {
    cursor: pointer;
    font-size: 1.5em;
    padding-right:0.5em;
}

.deleteBtnGif {
    font-size: 1.5em;
}

.addMovie {
    text-align: center;
    margin: 1em;
}

#addMovieBtn{
    position: relative;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Slim Joe";
}

.formArea {
    margin-top: 20px;
    width: 100%;
    display:none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inputField{
    width: 50%;
    margin: 0px auto 20px;
    color: black;
    font-family: Slim Joe;
}

.input-field input:focus {
    border-bottom: 1px solid gold !important; /*important needed for materialize for some stupid reason*/
    box-shadow: 0 1px 0 0 gold !important
}

#movieTitleInputLabel {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;
    color: #ffffff;
}

#movieTitleInput {
    font-family: "Slim Joe";
    text-align: center;
    font-size: 30px;
}

input[type=text] {
    color: white;
    font-size:50px;
    padding: 5px;
    margin: 0px 0;
}

#labelStarRating {
    font-size: 20px;
    font-weight: bold;
    font-family: "Big John";
}

.divMovieRating {
    margin: 0 auto;
    width: 50%;
}

#selectMovieRating {
    display: inline-block;
    margin: 0 auto;
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    font-family: "Big John";
    background-color: gold;
    border-radius: 5px;
    text-align: center;
    outline: none;
}

#submitMovieBtn {
    margin: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 25px;
    font-family: "Big John";
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
    cursor: pointer;
    background-color: black;
}

#submitGif {
    height: 100%;
}

#submitMovieBtnGif {
    display: none;
    width:25.5%;
    margin: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
    cursor: pointer;
    background-color: black;
}

#updateMovieBtn {
    display:none;
    margin: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 25px;
    font-family: "Big John";
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
    cursor: pointer;

}

#updateGif {
    height: 100%;
}

#updateMovieBtnGif {
    width:25.5%;
    display:none;
    margin: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
}

.error{
    display: none;
    margin-left: 10px;
}

.error_show{
    color: red;
    margin-left: 10px;
}











/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Movie Title"; }
    td:nth-of-type(2):before { content: "Rating"; }
    td:nth-of-type(3):before { content: "Action"; }

}




